body {
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}
@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }
}
#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #FFF;
    color: #770000;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #770000;
    color: #FFF;
}

.top-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #770000;
    background-image: url("../figures/credit_NASA_JPL.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.welcome-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #D5D0C9;
}
.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #A3B8BF;
}
.whatwedo-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}
.media-section {
    height: 140%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}
.research-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background-image: url("../figures/credit_NASA_JPL2.png");
    opacity:0.9;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
}
.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #AB946C;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #222;
	background-color: #D5D0C9;
}
.navbar-default {
    background-color: #00556B;
    border-color: #00556B;
}
.navbar-default .navbar-nav > li > a {
    color: #D5D0C9;
}

/* ===============================
   Research Grid (Cartoon + Text)
   =============================== */
/* ==========================
   Research image + text rows
   ========================== */

.research-pair {
  display: flex;
  gap: 1.5rem;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 2rem;
}

.research-pair .research-img,
.research-pair .research-card {
  flex: 0 0 50%;          /* two equal columns */
  max-width: 480px;       /* keep them closer to square, not super wide */
}

.research-pair .research-img .cat-item,
.research-pair .research-card .cat-item {
  height: 100%;           /* make image card and text card same height */
}

/* Make the cartoon fill its half nicely */
.research-pair .research-img img {
  width: 100%;
  height: auto;
  display: block;
}

/* Stack on phone-sized screens */
@media (max-width: 768px) {
  .research-pair {
    flex-direction: column;
    align-items: center;
  }

  .research-pair .research-img,
  .research-pair .research-card {
    flex: 0 0 auto;
    max-width: 100%;
  }
}



